{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %}Order Details{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col">
      <hr>
      <h2 class="logo-font mb-4">Thank You</h2>
      <hr>
      <p class="text-black">Your order information is below. A confirmation email will be sent to
        <strong>{{ order.email }}</strong>.</p>
      <p>Your items will be with you in 2-4 working days.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-7">
      <div class="order-confirmation-wrapper p-2 border">
        <div class="row">
          <div class="col">
            <small class="text-muted">Order Info:</small>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-4">
            <p class="mb-0 text-black font-weight-bold">Order Number</p>
          </div>
          <div class="col-12 col-md-8 text-md-right">
            <p class="mb-0">{{ order.order_number }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-4">
            <p class="mb-0 text-black font-weight-bold">Order Date</p>
          </div>
          <div class="col-12 col-md-8 text-md-right">
            <p class="mb-0">{{ order.created_at }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <small class="text-muted">Order Details:</small>
          </div>
        </div>

        {% for item in order.items.all %}
        <div class="row">
          <div class="col-12 col-md-4">
            <p class="small mb-0 text-black font-weight-bold">
              {{ item.product.name }}
            </p>
          </div>
          <div class="col-12 col-md-8 text-md-right">
            <p class="small mb-0">{{ item.quantity }} @ ${{ item.product.price }} each</p>
          </div>
        </div>
        {% endfor %}

        <div class="row">
          <div class="col">
            <small class="text-muted">Delivering To:</small>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-4">
            <p class="mb-0 text-black font-weight-bold">Full Name</p>
          </div>
          <div class="col-12 col-md-8 text-md-right">
            <p class="mb-0">{{ order.first_name }} {{ order.last_name }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-4">
            <p class="mb-0 text-black font-weight-bold">Address 1</p>
          </div>
          <div class="col-12 col-md-8 text-md-right">
            <p class="mb-0">{{ order.address_line_1 }}</p>
          </div>
        </div>

        {% if order.address_line_2 %}
        <div class="row">
          <div class="col-12 col-md-4">
            <p class="mb-0 text-black font-weight-bold">Address 2</p>
          </div>
          <div class="col-12 col-md-8 text-md-right">
            <p class="mb-0">{{ order.address_line_2 }}</p>
          </div>
        </div>
        {% endif %}

        <div class="row">
          <div class="col-12 col-md-4">
            <p class="mb-0 text-black font-weight-bold">Town or City</p>
          </div>
          <div class="col-12 col-md-8 text-md-right">
            <p class="mb-0">{{ order.city }}</p>
          </div>
        </div>

        {% if order.postcode %}
        <div class="row">
          <div class="col-12 col-md-4">
            <p class="mb-0 text-black font-weight-bold">Postal Code</p>
          </div>
          <div class="col-12 col-md-8 text-md-right">
            <p class="mb-0">{{ order.postcode }}</p>
          </div>
        </div>
        {% endif %}

        <div class="row">
          <div class="col-12 col-md-4">
            <p class="mb-0 text-black font-weight-bold">Country</p>
          </div>
          <div class="col-12 col-md-8 text-md-right">
            <p class="mb-0">{{ order.country }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-4">
            <p class="mb-0 text-black font-weight-bold">Phone Number</p>
          </div>
          <div class="col-12 col-md-8 text-md-right">
            <p class="mb-0">{{ order.phone_number }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <small class="text-muted">Billing Info:</small>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-4">
            <p class="mb-0 text-black font-weight-bold">Order Total</p>
          </div>
          <div class="col-12 col-md-8 text-md-right">
            <p class="mb-0">${{ order.get_total_cost }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-7">
      <a href="{% url 'profile' %}" class="btn btn-checkout">
        <span class="icon mr-2">
          <i class="fas fa-angle-left"></i>
        </span>
        <span class="text-uppercase">Go to Profile</span>
      </a>
      <a href="{% url 'order_history' %}" class="btn btn-checkout text-uppercase">Order history</a>
    </div>
  </div>
</div>
{% endblock %}

{% block postloadjs %}
<script>
  window.onpopstate = function(event) {
    event.preventDefault();
    history.pushState(null, null, 'home'); // replace '/' with your home page URL
    location.reload(); // reload the page to go to the home page
  }
</script>
{% endblock %}