html {
    height: 100%;
}

body {
    height: calc(100vh - 2.5em);
}
.bg-nav {
    background: rgb(89,156,170);
    background: linear-gradient(90deg, rgba(89,156,170,1) 0%, rgba(26,65,68,1) 50%, rgba(89,156,170,1) 100%);
}

.font-white {
    color: white !important;
}

.bg-white {
    background-color: white;
}

.account-link {
    text-decoration: underline;
    display: inline;
    line-height: 2.5em;
}

.bag:hover {
    color: rgb(33, 52, 58) !important;
}

.menu-item {
    padding: 0.5em;
}
.menu-item:hover {
    background-color: rgb(33, 52, 58);
}

@media (max-width: 992px) {
    .account-link {
        display: block;
    }
}