{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block extra_title %}/ Candles {% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="col-12 col-md-6 order-md-first">
      <p class="text-muted mt-3 text-center text-md-left">
          {% if search_term or current_categories or current_sorting != 'None_None' %}
              <span class="small"><a href="{% url 'products' %}">All products</a> | </span>
          {% endif %}
          {{ num_products }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
      </p>
    </div>
    <h2 class="mb-4">Candles</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
      {% for candle in candles %}
        <div class="col mb-5">
          <div class="card h-100">
            <a href="{% url 'product_details' candle.id %}">
              <img src="{{ candle.image.url }}" class="card-img-top" alt="{{ candle.name }}">
              <h5 class="card-title py-3 text-dark text-center">{{ candle.name }}</h5>
            </a>
              <div class="card-body">
                <p class="card-text">Scent: {{ candle.scent }}</p>
                <p class="card-text">Burn time: {{ candle.burn_time }}</p>
                {% if candle.discounted_price %}
                <del>${{ candle.price }}</del> <span class="discount">${{ candle.discounted_price }}</span>
                {% else %}
                ${{ candle.price }}
                {% endif %}
                <p class="text-muted">
                  <i class="fas fa-star mr-1"></i>
                  {% if candle.avg_rating %}
                    {{ candle.avg_rating|floatformat:1 }} / 5
                  {% else %}
                    No rating
                  {% endif %}
                </p>
              </div>
          </div>
        </div>    
      {% empty %}
        <p>No candles found.</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
