{% extends 'base.html' %}
{% load static %}

{% block extra_title %}FAQ{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center my-5">Frequently Asked Questions</h1>
        <ol class="list-group mb-5">
          <li class="list-group-item">
            <h3>What are the benefits of using essential oils?</h3>
            <ul>
              <li>Can help with relaxation and stress relief</li>
              <li>Can be used to treat certain health conditions</li>
              <li>Can be used to freshen up your living space</li>
            </ul>
          </li>
          <li class="list-group-item">
            <h3>How are your candles made?</h3>
            <ul>
              <li>Our candles are hand-poured using natural soy wax</li>
              <li>We use lead-free cotton wicks for a clean burn</li>
              <li>We only use high-quality fragrance oils that are phthalate-free</li>
            </ul>
          </li>
          <li class="list-group-item">
            <h3>Are your candles made from natural ingredients?</h3>
            <ul>
              <li>Yes, all of our candles are made from 100% natural soy wax and scented with pure essential oils.</li>
            </ul>
          </li>
          <li class="list-group-item">
            <h3>What is the return policy?</h3>
            <ul>
              <li>We offer a 30-day return policy on all items</li>
              <li>The item must be unused and in its original packaging</li>
              <li>You are responsible for the cost of return shipping</li>
            </ul>
          </li>
          <li class="list-group-item">
            <h3>Can I use essential oils on my skin?</h3>
            <ul>
              <li>While some essential oils can be used topically, it's important to dilute them with a carrier oil first to avoid irritation or allergic reactions.</li>
              <li>We recommend doing a patch test before using any essential oils on your skin.</li>
            </ul>
          </li>
          <li class="list-group-item">
            <h3>How do I care for my candles?</h3>
            <ul>
              <li>To ensure the longevity of your candles, keep them away from direct sunlight and heat sources</li>
              <li>Trim the wick to 1/4 inch before each use</li>
              <li>Never leave a burning candle unattended</li>
            </ul>
          </li>
          <li class="list-group-item">
            <h3>Are your products cruelty-free?</h3>
            <ul>
              <li>Yes, all of our products are cruelty-free and vegan</li>
              <li>We do not test on animals or use any animal-derived ingredients</li>
            </ul>
          </li>
          <li class="list-group-item">
            <h3>What payment methods do you accept?</h3>
            <ul>
              <li>We accept all major credit cards</li>
              <li>Payments are secured and handled by Stripe</li>
              <li>Soon to be implemented payments by PayPal and Apple Pay</li>
            </ul>
          </li>
          <li class="list-group-item">
            <h3>Do you offer international shipping?</h3>
            <ul>
              <li>Yes, we offer international shipping to select countries</li>
              <li>Shipping costs will vary depending on your location</li>
              <li>Please allow extra time for delivery due to customs processing</li>
            </ul>
          </li>
          <li class="list-group-item">
            <h3>How can I contact customer service?</h3>
            <ul>
              <li>You can reach us by phone at (123) 456-7890</li>
              <li>You can email us at info@candlesandoils.com</li>
              <li>You can also reach us on social media</li>
            </ul>
          </li>
        </ol>
      </div>      
{% endblock %}