{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="hero">
    <div class="container container-hero">
        <h1 class="hero-text">Welcome to our candle and essential oils store</h1>
        <h3 class="py-3 hero-text hero-subtext">Shop from our selection of hand-poured candles and pure essential oils</h3>
        <h3><span class="hero-text hero-subtext">Check out our latest</span> <a href="{% url 'specials' %}" aria-label="Link to specials page" class="btn btn-checkout p-2 hero-button">Offers</a></h3>
    </div>
</section>

<section>
    <div class="container links border my-3">
        <h2 class="text-center hero-text">Discover our collection</h2>
        <div class="row p-2">
            <div class="col-md-6">
                <div class="card">
                    <img src="/media/candles-image.jpeg" class="card-img-top"
                        alt="Candles">
                    <div class="card-body">
                        <h4 class="card-title">Candles</h4>
                        <p class="card-text">Explore our selection of hand-poured candles made with 100% soy wax and
                            pure essential oils.</p>
                        <a href="{% url 'candles' %}" aria-label="link to candles page" class="btn btn-checkout">Shop Now</a>
                    </div>
                </div>
                <hr class="d-none">
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img src="/media/oils-image.png" class="card-img-top"
                        alt="Essential Oils">
                    <div class="card-body">
                        <h4 class="card-title">Essential Oils</h4>
                        <p class="card-text">Discover our collection of pure essential oils, perfect for aromatherapy
                            and natural healing.</p>
                        <a href="{% url 'essential_oils' %}" aria-label="link to essential oils page" class="btn btn-checkout">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about m-4">
    <div class="container">
        <h2>About Us</h2>
        <p>We are a family-owned business that takes pride in producing high-quality, natural candles and essential
            oils. Our products are made with 100% soy wax and pure essential oils, and we never use synthetic fragrances
            or dyes. We believe in creating products that are both good for you and good for the environment.</p>
    </div>
</section>

{% endblock %}