{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block extra_title %} All Products {% endblock %}

{% block content %}
<div class="container mt-3">
  <div class="row mt-1 mb-2">
    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
      <div class="w-30">
        <form id="sort-form" action="{% url 'products' %}" method="GET">
          <div class="form-group">
            <label for="sort-by">Sort by:</label>
            <select class="form-control" id="sort-by" name="sort" onchange="this.form.submit()">
              <option value="name_asc" {% if request.GET.sort == 'name_asc' %} selected {% endif %}>Name (A-Z)</option>
              <option value="name_desc" {% if request.GET.sort == 'name_desc' %} selected {% endif %}>Name (Z-A)</option>
              <option value="price_asc" {% if request.GET.sort == 'price_asc' %} selected {% endif %}>Price (Low to High)</option>
              <option value="price_desc" {% if request.GET.sort == 'price_desc' %} selected {% endif %}>Price (High to Low)</option>
              <option value="rating_asc" {% if request.GET.sort == 'rating_asc' %} selected {% endif %}>Rating (Low to High)</option>
              <option value="rating_desc" {% if request.GET.sort == 'rating_desc' %} selected {% endif %}>Rating (High to Low)</option>
            </select>
            <label for="filter-by">Filter by:</label>
            <select class="form-control" id="filter-by" name="type" onchange="this.form.submit()">
              <option value="">All</option>
              <option value="candles" {% if request.GET.type == 'candles' %} selected {% endif %}>Candles</option>
              <option value="essential_oils" {% if request.GET.type == 'essential_oils' %} selected {% endif %}>Essential Oils</option>
            </select>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 col-md-6 order-md-first">
      <p class="text-muted mt-3 text-center text-md-left">
        <a href="{% url 'products' %}">All products</a> |
        {{ products|length }} Products.
      </p>
    </div>
  </div>
  <h2 class="my-4">All Products</h2>
  {% if products %}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    {% for product in products %}
    <div class="col mb-5">
      <div class="card h-100">
        <a href="{% url 'product_details' product.id %}">
          <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
          <h5 class="card-title py-3 text-dark text-center">{{ product.name }}</h5>
        </a>
        <div class="card-body">
          {% if product.candle %}
          <p class="card-text">Scent: {{ product.candle.scent }}</p>
          <p class="card-text">Burn time: {{ product.candle.burn_time }}</p>
          {% elif product.essentialoil %}
          <p class="card-text">Scent: {{ product.essentialoil.scent }}</p>
          <p class="card-text">Volume: {{ product.essentialoil.volume }}</p>
          {% endif %}
          {% if product.discounted_price %}
          <del>${{ product.price }}</del> <span class="discount">${{ product.discounted_price }}</span>
          {% else %}
          ${{ product.price }}
          {% endif %}
          <p class="text-muted">
            <i class="fas fa-star mr-1"></i>
            {% if product.avg_rating %}
            {{ product.avg_rating|floatformat:1 }} / 5
            {% else %}
            No rating
            {% endif %}
          </p>
        </div>
      </div>
    </div>
    {% empty %}
    <p>No products found.</p>
    {% endfor %}
  </div>
  {% else %}
  <p>No products found.</p>
  {% endif %}
</div>

</div>
<div class="btt-button shadow-sm rounded-0 border border-black">
  <a class="btt-link d-flex h-100">
    <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
  </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
  $('.btt-link').click(function (e) {
    window.scrollTo(0, 0)
  })
</script>
{% endblock %}