{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1 class="text-center">{% trans "Set Password" %}</h1>

        <form method="POST" action="{% url 'account_set_password' %}" class="password_set mt-5">
          {% csrf_token %}
          {{ form | crispy }}
          <div class="text-center">
            <input type="submit" name="action" value="{% trans 'Set Password' %}" class="btn btn-primary"/>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
